/* Papildomai, galima pasinaudoti SaaS arba Less CSS preprocesoriumi */
/* -------------------------------------------------------------- */
body {
    background: #D9D9D9;
}

.todo-list {
    border-radius: 0;
}

.add-task-button {
    width: 100%;
}

/* Papildomas komentaras */